In [34]:
import pandas as pd
import numpy as np
import matplotlib
import Mahony.MahonyAHRS as MAHRS
from ximu_python_library import xIMUdataClass as xIMU

In [35]:
recorded_data = pd.read_csv("logged_data/LoggedData_CalInertialAndMag.csv")

In [45]:
recorded_data

,packetNumb,gyrX,gyrY,gyrZ,accX,accY,accZ,magX,magY,magZ
0,0,-0.1250,-0.0625,0.1250,-0.028809,0.016602,1.017090,15.99951,15.99951,15.11475
1,2,-0.1250,-0.2500,0.0000,0.002441,-0.002441,0.973633,15.99951,15.99951,15.09375
2,4,-0.0625,-0.1875,0.0000,0.006348,0.016602,0.989258,15.99951,15.99951,15.09375
3,6,0.1250,0.0000,0.0000,-0.040527,0.032227,1.013184,15.99951,15.99951,15.09375
4,8,-0.1250,-0.1250,0.0000,-0.017090,-0.002441,0.997070,15.99951,15.99951,15.12012
...,...,...,...,...,...,...,...,...,...,...
11612,24223,-0.0625,-0.1250,-0.0625,0.018066,0.016602,0.997070,15.99951,15.99951,15.33057
11613,24225,0.0000,0.0000,0.0000,0.021973,0.004883,0.989258,15.99951,15.99951,15.33057
11614,24227,-0.0625,-0.1250,0.0625,-0.008789,-0.018066,0.973633,15.99951,15.99951,15.33057
11615,24229,-0.1250,-0.1250,0.0625,-0.032715,0.000977,1.017090,15.99951,15.99951,15.33594
11616,24231,0.0000,-0.1250,0.0625,-0.017090,0.028320,0.981445,15.99951,15.99951,15.33594

In [44]:
data = recorded_data.copy()
data.loc[:, "gyrX":"gyrZ"] *= (np.pi/180)
data

,packetNumb,gyrX,gyrY,gyrZ,accX,accY,accZ,magX,magY,magZ
0,0,-0.002182,-0.001091,0.002182,-0.028809,0.016602,1.017090,15.99951,15.99951,15.11475
1,2,-0.002182,-0.004363,0.000000,0.002441,-0.002441,0.973633,15.99951,15.99951,15.09375
2,4,-0.001091,-0.003272,0.000000,0.006348,0.016602,0.989258,15.99951,15.99951,15.09375
3,6,0.002182,0.000000,0.000000,-0.040527,0.032227,1.013184,15.99951,15.99951,15.09375
4,8,-0.002182,-0.002182,0.000000,-0.017090,-0.002441,0.997070,15.99951,15.99951,15.12012
...,...,...,...,...,...,...,...,...,...,...
11612,24223,-0.001091,-0.002182,-0.001091,0.018066,0.016602,0.997070,15.99951,15.99951,15.33057
11613,24225,0.000000,0.000000,0.000000,0.021973,0.004883,0.989258,15.99951,15.99951,15.33057
11614,24227,-0.001091,-0.002182,0.001091,-0.008789,-0.018066,0.973633,15.99951,15.99951,15.33057
11615,24229,-0.002182,-0.002182,0.001091,-0.032715,0.000977,1.017090,15.99951,15.99951,15.33594
11616,24231,0.000000,-0.002182,0.001091,-0.017090,0.028320,0.981445,15.99951,15.99951,15.33594

In [ ]:
sample_frequency = 256
sample_period = 1 / sample_frequency

In [ ]:
ahrs = MAHRS.Mahony(sample_frequency, 0, 0)

In [46]:
gyr = data.loc[:, "gyrX":"gyrZ"]

In [47]:
gyr

           gyrX      gyrY      gyrZ
0     -0.002182 -0.001091  0.002182
1     -0.002182 -0.004363  0.000000
2     -0.001091 -0.003272  0.000000
3      0.002182  0.000000  0.000000
4     -0.002182 -0.002182  0.000000
...         ...       ...       ...
11612 -0.001091 -0.002182 -0.001091
11613  0.000000  0.000000  0.000000
11614 -0.001091 -0.002182  0.001091
11615 -0.002182 -0.002182  0.001091
11616  0.000000 -0.002182  0.001091

[11617 rows x 3 columns]

In [48]:
for i in gyr:
    print(i)

gyrX
gyrY
gyrZ